<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in your name and your friend's name to create your custom postcard!</h1>
    <form action="/postcard" method="post">
     <label for="sender">Sender's Name</label>
     <input id="sender" name="sender" type="text">
     <label for="recipient">Recipient's Name</label>
     <input id="recipient" name="recipient" type="text">
     <label for="noun">a noun</label>
     <input id="noun" name="noun" type="text">
     <label for="verb">a verb</label>
     <input id="verb" name="verb" type="text">
     <label for="adjective">a adjective</label>
     <input id="adjective" name="adjective" type="text">
     <label for="pronoun">a pronoun</label>
     <input id="pronoun" name="pronoun" type="text">
     <label for="spiritualanimal">a spiritualanimal</label>
     <input id="spiritualanimal" name="spiritualanimal" type="text">
     <label for="zodiacsign">a zodiacsign</label>
     <input id="zodiacsign" name="zodiacsign" type="text">
     <label for="spiritualstatus">a spritualstatus</label>
     <input id="spiritualstatus" name="spiritualstatus" type="text">
     <label for="nameofyourgod">a nameofyourgod</label>
     <input id="nameofyourgod" name="nameofyourgod" type="text">
     <label for="yourfursona">a yourfursona</label>
     <input id="yourfursona" name="yourfursona" type="text">
     <label for="yourfavoritesovietrifle">a yourfavoritesovietrifle</label>
     <input id="yourfavoritesovietrifle" name="yourfavoritesovietrifle" type="text">
     <label for="antspecies">a antspecies</label>
     <input id="antspecies" name="antspecies" type="text">
     <label for="yournameplusthehedgehog">a yournameplusthehedgehog</label>
     <input id="yournameplusthehedgehog" name="yournameplusthehedgehog" type="text">

     <button type="submit">Go!</button>
    </form>
  </body>
</html>
